<%-include("partials/header")-%> 
    <!-- <h1>Hello amigos, I am harsh.</h1> -->

    <% for(var i=0; i<postData.length; i++){ %>
        <h3> <%=postData[i].title%> </h3>
        <p> <%=postData[i].body%> <p>
    <% } %>


<%-include("partials/footer")-%> 